#data {
    display: none;
}

#loading {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.pane.content p,
.pane.content form {
    padding: 10px 20px;
}

h1.title img {
    padding: 10px 0 0 0;
}

tbody#repo-content td.active,
input:disabled {
    background-color: #dcdfe1;
}